<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB"
      crossorigin="anonymous"
    />
    <title><%= title %></title>
  </head>
  <body>
    <% if(created) { %>
    <div class="alert alert-success" role="alert">
      Note created successfully!
    </div>
    <% } %> <% if(error) { %>
    <div class="alert alert-danger" role="alert">
      An error occurred while processing your request.
    </div>
    <% } %>

    <div class="container">
      <h1 class="mb-3"><%= title %></h1>
      <form action="/" method="post">
        <div class="form-group mb-3">
          <input class="form-control" name="title" type="text" />
        </div>
        <button type="submit" class="btn btn-primary mb-3">Submit</button>
      </form>

      <% if(notes.length > 0) { %>
      <div class="card">
        <ul class="list-group">
          <% notes.forEach(note => { %>
          <li
            class="list-group-item d-flex justify-content-between align-items-center"
          >
            <span><%= note.title %></span>
            <div>
              <button
                class="btn btn-primary"
                data-type="edit"
                data-id="<%= note.id %>"
              >
                Edit
              </button>
              <button
                class="btn btn-danger"
                data-type="remove"
                data-id="<%= note.id %>"
              >
                Delete
              </button>
            </div>
          </li>
          <% }); %>
        </ul>
      </div>
      <% } else { %>
      <p>No notes available.</p>
      <% } %>
    </div>
    <script src="/app.js"></script>
  </body>
</html>
